*{
    /*box-sizing: content-box;
    The border-box sizing model does the opposite of border-box and it's default. The total width of the element, not including padding and border.*/
    box-sizing: border-box;
    /*The border-box sizing model does the opposite of content-box. The total width of the element, including padding and border, will be the explicit width set. The content of the element will shrink to make room for the padding and border.*/
}
/*
.gallery{
    width: 50%;
    border: 5px solid red;
}

img{
    width: 100%;
    padding: 5px;
    border: 5px solid blue;
}
*/
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;    
}